*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top,  rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(back.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-items: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 80px;
    margin-top: 27px;
    font-size: 17px;
}

ul li a{
    text-decoration: none;
    color:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 300px;
    float: right;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: blanchedalmond;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
.from{
    width: 250px;
    height: 10px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 180px;
    left: 10px;
    border-radius: 0px;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.from input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin-top: -20px;
    font-family: 'Times New Roman', Times, serif;
}

.form input:focus{
    outline:none;
}

::placeholder{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
.from1{
    width: 250px;
    height: 10px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 180px;
    left: 350px;
    border-radius: 0px;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.from1 input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin-top: -20px;
    font-family: 'Times New Roman', Times, serif;
}

.form1 input:focus{
    outline:none;
}
.from2{
    width: 250px;
    height: 10px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 280px;
    left: 10px;
    border-radius: 0px;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.from2 input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin-top: -20px;
    font-family: 'Times New Roman', Times, serif;
}

.form2 input:focus{
    outline:none;
}
.from3{
    width: 250px;
    height: 10px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 280px;
    left: 350px;
    border-radius: 0px;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.from3 input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin-top: -20px;
    font-family: 'Times New Roman', Times, serif;
}

.form3 input:focus{
    outline:none;
}
.from4{
    width: 590px;
    height: 20px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 380px;
    left: 10px;
    border-radius: 0px;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.from4 input{
    width: 590px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin-top: -20px;
    font-family: 'Times New Roman', Times, serif;
}

.form4 input:focus{
    outline:none;
}
.from5{
    width: 250px;
    height: 10px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 480px;
    left: 10px;
    border-radius: 0px;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.from5 input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin-top: -20px;
    font-family: 'Times New Roman', Times, serif;
}

.form5 input:focus{
    outline:none;
}
.from6{
    width: 250px;
    height: 10px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 480px;
    left: 350px;
    border-radius: 0px;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.from6 input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin-top: -20px;
    font-family: 'Times New Roman', Times, serif;
}

.form6 input:focus{
    outline:none;
}
.from7{
    width: 250px;
    height: 10px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 580px;
    left: 10px;
    border-radius: 0px;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.from7 input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin-top: -20px;
    font-family: 'Times New Roman', Times, serif;
}

.form7 input:focus{
    outline:none;
}
.from8{
    width: 250px;
    height: 10px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 580px;
    left: 350px;
    border-radius: 0px;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.from8 input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin-top: -20px;
    font-family: 'Times New Roman', Times, serif;
}

.form8 input:focus{
    outline:none;
}
.btnn{
    width: 150px;
    height: 30px;
    background: #ff7200;
    border: none;
    margin-top: 660px;
    margin-left: -10px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btnn:hover{
    background: #fff;
    color: #ff7200;
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.from9{
    width: 550px;
    height: 480px;
    position: absolute;
    top: 180px;
    left: 750px;
    border-radius: 10px;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.icons a{
    text-decoration:none;
    color: #fff;
}

.icons ion-icon{
    color: #fff;
    font-size: 40px;
    padding-left: 50px;
    padding-top: 5px;
    transition: 0.3 ease;

}

.icons ion-icon:hover{
    color: #00eeff;
}